<a href="https://colab.research.google.com/github/Rizwana333/Netflix_Data_Analysis/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
data = {"name":["rizzu","razi","basha"],
      "age":[20,44,47]}
df = pd.DataFrame(data)
print(df)

    name  age
0  rizzu   20
1   razi   44
2  basha   47

In [ ]:
data = pd.read_excel("C:/Users/DELL/OneDrive/Desktop/sql project/pizza_sales/orders.xlsx")
print (data)

FileNotFoundError: [Errno 2] No such file or directory: 'C:/Users/DELL/OneDrive/Desktop/sql project/pizza_sales/orders.xlsx'

In [ ]:
data=pd.read_csv("C:/Users/DELL/OneDrive/Desktop/pandas_excel.csv")
print(data)

FileNotFoundError: [Errno 2] No such file or directory: 'C:/Users/DELL/OneDrive/Desktop/pandas_excel.csv'

In [ ]:
data=pd.read_c("pandas.csv")
print(data)

FileNotFoundError: [Errno 2] No such file or directory: 'pandas.csv'

In [ ]:
import pandas as pd

In [ ]:
data=pd.read_excel("HR Data.xlsx")
print(data)

     Attrition    Business Travel CF_age band CF_attrition label Department  \
0          Yes      Travel_Rarely     35 - 44       Ex-Employees      Sales
1           No  Travel_Frequently     45 - 54  Current Employees        R&D
2          Yes      Travel_Rarely     35 - 44       Ex-Employees        R&D
3           No  Travel_Frequently     25 - 34  Current Employees        R&D
4           No      Travel_Rarely     25 - 34  Current Employees        R&D
...        ...                ...         ...                ...        ...
1465       Yes         Non-Travel     25 - 34       Ex-Employees        R&D
1466       Yes  Travel_Frequently     25 - 34       Ex-Employees        R&D
1467       Yes  Travel_Frequently     35 - 44       Ex-Employees      Sales
1468       Yes      Travel_Rarely    Under 25       Ex-Employees        R&D
1469       Yes      Travel_Rarely    Under 25       Ex-Employees      Sales

       Education Field      emp no  Employee Number  Gender  \
0        Life Sciences     STAFF-1                1  Female
1        Life Sciences     STAFF-2                2    Male
2                Other     STAFF-4                4    Male
3        Life Sciences     STAFF-5                5  Female
4              Medical     STAFF-7                7    Male
...                ...         ...              ...     ...
1465  Technical Degree  STAFF-1905             1905    Male
1466     Life Sciences  STAFF-1868             1868    Male
1467             Other  STAFF-1667             1667    Male
1468     Life Sciences  STAFF-1878             1878    Male
1469     Life Sciences  STAFF-1702             1702    Male

                   Job Role  ... Performance Rating Relationship Satisfaction  \
0           Sales Executive  ...                  3                         1
1        Research Scientist  ...                  4                         4
2     Laboratory Technician  ...                  3                         2
3        Research Scientist  ...                  3                         3
4     Laboratory Technician  ...                  3                         4
...                     ...  ...                ...                       ...
1465     Research Scientist  ...                  4                         2
1466     Research Scientist  ...                  4                         2
1467        Sales Executive  ...                  4                         1
1468     Research Scientist  ...                  4                         1
1469   Sales Representative  ...                  4                         2

     Standard Hours  Stock Option Level  Total Working Years  \
0                80                   0                    8
1                80                   1                   10
2                80                   0                    7
3                80                   0                    8
4                80                   1                    6
...             ...                 ...                  ...
1465             80                   1                    5
1466             80                   0                    1
1467             80                   0                   13
1468             80                   0                    1
1469             80                   1                    3

      Work Life Balance  Years At Company  Years In Current Role  \
0                     1                 6                      4
1                     3                10                      7
2                     3                 0                      0
3                     3                 8                      7
4                     3                 2                      2
...                 ...               ...                    ...
1465                  3                 5                      2
1466                  2                 1                      0
1467                  4                11                      9
1468                  3                 1                      0
1469                  3                 3                      2

      Years Since Last Promotion  Years With Curr Manager
0                              0                        5
1                              1                        7
2                              0                        0
3                              3                        0
4                              2                        2
...                          ...                      ...
1465                           3                        0
1466                           1                        0
1467                           6                        7
1468                           0                        0
1469                           0                        2

[1470 rows x 41 columns]

In [ ]:
import pandas as pd
from google.colab import files

In [ ]:
uploaded=files.upload()

Saving HR Data.xlsx to HR Data.xlsx

In [ ]:
df=pd.read_excel('HR Data.xlsx')
df

,Attrition,Business Travel,CF_age band,CF_attrition label,Department,Education Field,emp no,Employee Number,Gender,Job Role,...,Performance Rating,Relationship Satisfaction,Standard Hours,Stock Option Level,Total Working Years,Work Life Balance,Years At Company,Years In Current Role,Years Since Last Promotion,Years With Curr Manager
0,Yes,Travel_Rarely,35 - 44,Ex-Employees,Sales,Life Sciences,STAFF-1,1,Female,Sales Executive,...,3,1,80,0,8,1,6,4,0,5
1,No,Travel_Frequently,45 - 54,Current Employees,R&D,Life Sciences,STAFF-2,2,Male,Research Scientist,...,4,4,80,1,10,3,10,7,1,7
2,Yes,Travel_Rarely,35 - 44,Ex-Employees,R&D,Other,STAFF-4,4,Male,Laboratory Technician,...,3,2,80,0,7,3,0,0,0,0
3,No,Travel_Frequently,25 - 34,Current Employees,R&D,Life Sciences,STAFF-5,5,Female,Research Scientist,...,3,3,80,0,8,3,8,7,3,0
4,No,Travel_Rarely,25 - 34,Current Employees,R&D,Medical,STAFF-7,7,Male,Laboratory Technician,...,3,4,80,1,6,3,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,Yes,Non-Travel,25 - 34,Ex-Employees,R&D,Technical Degree,STAFF-1905,1905,Male,Research Scientist,...,4,2,80,1,5,3,5,2,3,0
1466,Yes,Travel_Frequently,25 - 34,Ex-Employees,R&D,Life Sciences,STAFF-1868,1868,Male,Research Scientist,...,4,2,80,0,1,2,1,0,1,0
1467,Yes,Travel_Frequently,35 - 44,Ex-Employees,Sales,Other,STAFF-1667,1667,Male,Sales Executive,...,4,1,80,0,13,4,11,9,6,7
1468,Yes,Travel_Rarely,Under 25,Ex-Employees,R&D,Life Sciences,STAFF-1878,1878,Male,Research Scientist,...,4,1,80,0,1,3,1,0,0,0
1469,Yes,Travel_Rarely,Under 25,Ex-Employees,Sales,Life Sciences,STAFF-1702,1702,Male,Sales Representative,...,4,2,80,1,3,3,3,2,0,2

In [ ]:
df=pd.read_excel('HR Data.xlsx')
df

,Attrition,Business Travel,CF_age band,CF_attrition label,Department,Education Field,emp no,Employee Number,Gender,Job Role,...,Performance Rating,Relationship Satisfaction,Standard Hours,Stock Option Level,Total Working Years,Work Life Balance,Years At Company,Years In Current Role,Years Since Last Promotion,Years With Curr Manager
0,Yes,Travel_Rarely,35 - 44,Ex-Employees,Sales,Life Sciences,STAFF-1,1,Female,Sales Executive,...,3,1,80,0,8,1,6,4,0,5
1,No,Travel_Frequently,45 - 54,Current Employees,R&D,Life Sciences,STAFF-2,2,Male,Research Scientist,...,4,4,80,1,10,3,10,7,1,7
2,Yes,Travel_Rarely,35 - 44,Ex-Employees,R&D,Other,STAFF-4,4,Male,Laboratory Technician,...,3,2,80,0,7,3,0,0,0,0
3,No,Travel_Frequently,25 - 34,Current Employees,R&D,Life Sciences,STAFF-5,5,Female,Research Scientist,...,3,3,80,0,8,3,8,7,3,0
4,No,Travel_Rarely,25 - 34,Current Employees,R&D,Medical,STAFF-7,7,Male,Laboratory Technician,...,3,4,80,1,6,3,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,Yes,Non-Travel,25 - 34,Ex-Employees,R&D,Technical Degree,STAFF-1905,1905,Male,Research Scientist,...,4,2,80,1,5,3,5,2,3,0
1466,Yes,Travel_Frequently,25 - 34,Ex-Employees,R&D,Life Sciences,STAFF-1868,1868,Male,Research Scientist,...,4,2,80,0,1,2,1,0,1,0
1467,Yes,Travel_Frequently,35 - 44,Ex-Employees,Sales,Other,STAFF-1667,1667,Male,Sales Executive,...,4,1,80,0,13,4,11,9,6,7
1468,Yes,Travel_Rarely,Under 25,Ex-Employees,R&D,Life Sciences,STAFF-1878,1878,Male,Research Scientist,...,4,1,80,0,1,3,1,0,0,0
1469,Yes,Travel_Rarely,Under 25,Ex-Employees,Sales,Life Sciences,STAFF-1702,1702,Male,Sales Representative,...,4,2,80,1,3,3,3,2,0,2